{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="col d-flex justify-content-center">
            <p class="mx-auto"><span class="h1"> <b>Oops! You did it again!</b></span> <br><br>
               <span class="h3"> -- <b>404</b> : Page not found --</p></span>
            <img src="https://us.123rf.com/450wm/crosspixel/crosspixel2401/crosspixel240105987/222113474-blue-bird-isolated-on-white-background-vector-illustration-in-cartoon-style.jpg?ver=6" alt="">
        </div>
    </div>
{% endblock %}